html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f9fbfd;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 2px 30px;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(45, 45, 45, 0.147);
}
.header_logo img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_ul a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: black;
}
.header_menuitem {
  border-radius: 20px;
  padding: 5px 10px;
  transition: linear 0.25s;
}
.header_menuitem:hover {
  background-color: #df3367;
}
.header_menuitem:hover a {
  color: white;
}

.Button {
  margin: 2rem;
  position: relative;
  border: none;
  color: #fff;
  padding: 7px 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background: linear-gradient(90deg, #df3367, #95c9f9, #f5cc8f, #cadbb2);
  background-size: 300%;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.Button:hover {
  animation: animated 8s linear infinite;
}

.Button::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #df3367, #95c9f9, #f5cc8f, #cadbb2);
  background-size: 400%;
  border-radius: 35px;
  transition: 0.5s;
}

.Button:hover::before {
  filter: blur(5px);
}

@keyframes animated {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.headline {
  width: 100%;
  height: 100%;
  background: url(/public/image/rose_bg.png) rgba(251, 220, 218, 0.5) top left/cover no-repeat local;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.headline-broom,
.headline .headline-bride {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline_img img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid 2px #df4759;
}
.headline-heart {
  padding: 2rem;
  color: #df4759;
  font-size: 5rem;
}
.headline_name {
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  padding: 0 2rem;
}

.viewline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: solid 1px #eee;
  padding: 1.5rem 0;
}
.viewline-website,
.viewline .viewline-album {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  padding: 0 2rem;
}
.viewline-website i,
.viewline .viewline-album i {
  margin-right: 1rem;
}

.btnline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}

.btnchoice {
  width: 25%;
  height: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  color: #161c2d;
  cursor: pointer;
  background-color: #df4759;
  border-radius: 1rem;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  margin-right: 2rem;
}
.btnchoice-top {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btnchoice-top i {
  margin-right: 1rem;
}
.btnchoice-sub {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #389e80;
}

.blue {
  background-color: #6959cb;
}

.gray {
  background-color: #506690;
}

.line {
  width: 100%;
  height: 3.5rem;
  background-color: #1b2a4e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

/*# sourceMappingURL=style.css.map */
