.modal-open {
    animation: fade-in 250ms forwards;
    opacity: 1;
}

.modal-close {
    animation: fade-out 250ms forwards;
    opacity: 0;
}
.slide-up{
    animation: slide-up 250ms forwards;
    transition: all;
}
.slide-down{
    animation: slide-down 250ms forwards;
    transition: all;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slide-down {
    0%{
        transform: translateY(-100px);
    }
    100%{
    }
}
@keyframes slide-up {
    0%{
    }
    100%{
        transform: translateY(-100px);
    }
}