html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f9fbfd;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 2px 30px;
  z-index: 1052;
  box-shadow: 5px 5px 5px rgba(45, 45, 45, 0.147);
}
.header_logo img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_ul a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: black;
}
.header_menuitem {
  border-radius: 20px;
  padding: 5px 10px;
  transition: linear 0.25s;
}
.header_menuitem:hover {
  background-color: #df3367;
}
.header_menuitem:hover a {
  color: white;
}

.Button {
  margin: 2rem;
  position: relative;
  border: none;
  color: #fff;
  padding: 7px 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background: linear-gradient(90deg, #df3367, #95c9f9, #f5cc8f, #cadbb2);
  background-size: 300%;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.Button:hover {
  animation: animated 8s linear infinite;
}

.Button::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #df3367, #95c9f9, #f5cc8f, #cadbb2);
  background-size: 400%;
  border-radius: 35px;
  transition: 0.5s;
}

.Button:hover::before {
  filter: blur(5px);
}

@keyframes animated {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.headline {
  width: 100%;
  height: 100%;
  background: url(/public/image/rose_bg.png) rgba(251, 220, 218, 0.5) top left/cover no-repeat local;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.headline-broom,
.headline .headline-bride {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline_img img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid 2px #df4759;
}
.headline-heart {
  padding: 2rem;
  color: #df4759;
  font-size: 5rem;
}
.headline_name {
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  padding: 0 2rem;
}

.viewline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: solid 1px #eee;
  padding: 1.5rem 0;
}
.viewline-website,
.viewline .viewline-album {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  padding: 0 2rem;
}
.viewline-website i,
.viewline .viewline-album i {
  margin-right: 1rem;
}

.btnline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}

.btnchoice {
  width: 25%;
  height: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  color: #161c2d;
  cursor: pointer;
  background-color: #df4759;
  border-radius: 1rem;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  margin-right: 2rem;
}
.btnchoice-top {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btnchoice-top i {
  margin-right: 1rem;
}
.btnchoice-sub {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #389e80;
}

.blue {
  background-color: #6959cb;
}

.gray {
  background-color: #506690;
}

.line {
  width: 100%;
  height: 3.5rem;
  background-color: #1b2a4e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.content-wrap {
  width: 80%;
  height: auto;
}

.plantitle {
  width: 100%;
  height: auto;
}
.plantitle-top {
  border-start-start-radius: 2rem;
  border-start-end-radius: 2rem;
  background-color: #d9e2ef;
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  color: #566c95;
}
.plantitle-top_back {
  color: black;
  margin-left: 2rem;
}
.plantitle-top_back:hover {
  color: #df4759;
}
.plantitle-top_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.plantitle-bottom {
  border: 1px solid #d9e2ef;
  border-end-start-radius: 2rem;
  border-end-end-radius: 2rem;
}
.plantitle-bottom_text {
  -webkit-tap-highlight-color: rgba(22, 28, 45, 0);
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  padding: 2rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

.completed {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  border: 1px solid #d9e2ef;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.completed-content {
  width: 70%;
  padding: 2rem 1rem;
}
.completed-content_top {
  -webkit-tap-highlight-color: rgba(22, 28, 45, 0);
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}
.completed-content_top span {
  color: #161c2d;
  font-weight: 700;
}
.completed-content_mid {
  width: 100%;
  height: 2rem;
  background-color: #d9e2ef;
  position: relative;
}
.completed-content_mid-progress {
  position: absolute;
  background-color: #335eea;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  transition: width 0.25s linear;
}
.completed-content_sub {
  -webkit-tap-highlight-color: rgba(22, 28, 45, 0);
  color: #161c2d;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}
.completed-button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.completed-button button {
  width: 100%;
  color: white;
  background-color: #2b50c7;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  isolation: isolate;
  transition: color 0.25s linear;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.completed-button button:hover {
  background-color: #2543a7;
}

.accordion {
  margin-bottom: 25px;
  width: 100%;
  margin-top: 3rem;
  height: auto;
}
.accordion-header {
  background-color: #d9e2ef;
  color: #384c74;
  padding: 20px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.accordion-header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-header-icon i {
  padding: 0 0.5rem;
  z-index: 30;
}
.accordion-content {
  border-top: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}
.accordion-content-inner {
  border: 1px solid #eee;
}

.icon {
  pointer-events: none;
}

.accordion-content.is-active {
  height: auto;
}

.btnsub {
  width: 100%;
}

.inneritem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.2rem;
}
.inneritem:hover {
  background-color: #fcecee;
}
.inneritem-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.inneritem-text {
  padding: 0 2.5rem;
}
.inneritem-text_main {
  color: #384c74;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.inneritem-text_detail {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #869ab8;
}
.inneritem-icon {
  width: 3rem;
  height: 3rem;
  background-color: rgba(27, 42, 78, 0.1);
  color: #1b2a4e;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 50%;
  font-weight: 600;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inneritem-icon:hover {
  background-color: #d8e1ee;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type=checkbox] {
  visibility: hidden;
}

.round input[type=checkbox]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
